.box-container{
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* width: 60vw; */
    height: 80vh;
    /* margin-left: 20%; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-radius: 2%;
}
.flex_row{
    display: flex;
    flex-direction: row;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
 table{
    background-color: rgb(255, 255, 255);
    width: 90%;
 }
 
table , tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    font-weight: 800;
    font-size:medium;
}

 th, td{
    width: 12vw;
    text-align: center;
    padding: 1% 1%;
    
}

button{
    color: white;
    font-weight: 500;
    border: none;
}
.box-container > table > tr > td > button{
    margin-right: 2%;
    padding: 7% 10%;
    border-radius: 10%;
}
.addNewButton{
    margin-left: 76%;
    width: 8vw;
    background-color: rgb(51, 122, 246);
    padding: 1% 2%;
    margin-bottom: 2%;
    border-radius: 5%;
}
.addNewButton:hover{
    background-color: rgba(51, 122, 246, 0.546);
}
.bluebutton{
    background-color: rgba(33, 161, 167, 0.938);
}
.bluebutton:hover{
    background-color: rgb(66, 230, 255);
}
.redButton{
    background-color: rgb(248, 29, 29);
}
.redButton:hover{
    background-color: rgb(202, 35, 35);
}
.PopupMessage > .yellowButton{
    background-color: rgb(255, 214, 32);
}
.PopupMessage > .yellowButton:hover{
    background-color: rgba(243, 206, 40, 0.823);
}
.PopupMessage > .button1{
    color: black;
}
.PopupMessage > div{
    justify-content: space-between;
    padding: 4% 8%;
    /* background-color: aqua; */
}
.PopupMessage > div > .Label_div{

    /* ba */
    /* background-color: beige; */
    height: 45vh;
    justify-content: space-between;
}
.PopupMessage > div > .Label_div > label{
    font-size: 1.9vw;
    color: black;
}
.PopupMessage > div > .Input_div{
    height: 45vh;
    
}
.PopupMessage > button{
    border-radius:8%;
    margin-right: 3%;
    padding: 2.5% 4%;
}
.PopupMessage > label{
    color: black;
    font-size: 1.6vw;
}
 input{
    padding: 2% 1%;
    font-size: 1.2vw;
    width: 13vw;
    height: 4vh;
    /*   */
}
input:focus{
    outline-color: rgb(42, 208, 237);
}
 
.PopupMessage {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: fixed;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    /* background-color: rgb(74, 184, 227); */
    background-color:beige;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 2vw;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 30vw;
    /* max-width: 90vw */
}
