
form{
    width: 50%;
}
form >  h1{
    text-transform: uppercase;
}
form > table{
    width: 100%;
}
td{
    width: 15vw;
}
tr{
    height: 7vh;
}

button{
    font-weight: 500;
    background-color: #5ad8d8ec;
    border-radius: 8%;
    border: none;
    color: white;
    padding: 7% 30% 7% 30%;
}
button:hover{
    background-color: #259797ec;
}

input[type=text], input[type=number]{
    padding: 3% 2% 3% 2%;
    width: 12vw;
}

.addButton, .removeButton{
    margin-right: 5%;
    padding: 2% 15% 2% 15%;
    font-size: 2vw;
}
.removeButton{
    background-color: rgb(235, 65, 65);
}
.removeButton:hover{
    background-color: rgb(201, 41, 41);
    
}
.submitButton{
    padding: 1.5%;
    font-size: 1.2vw;
}