.box-container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
}

 table{
    width: 90%;
 }
 
table , tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    font-weight: 800;
    font-size:medium;
}

 th, td{
    width: 12vw;
    text-align: center;
    padding: 1% 1%;
    
}

button{
    cursor: pointer;
    color: white;
    font-weight: 500;
    border: none;
}
.box-container > table > tr > td > button{
    margin-right: 2%;
    padding: 7% 10%;
    border-radius: 10%;
}
.addNewButton{
    margin-left: 76%;
    width: 8vw;
    background-color: rgb(51, 122, 246);
    padding: 1% 2%;
    margin-bottom: 2%;
    border-radius: 5%;
}
.addNewButton:hover{
    background-color: rgba(51, 122, 246, 0.546);
}

 .yellowButton{
    background-color: rgb(255, 214, 32);
}
.yellowButton:hover{
    background-color: rgba(243, 206, 40, 0.823);
}
.PopupMessage > .Buttons > button{
    color: black;
}

.PopupMessage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: fixed;
    top: 5%;
    left: 30%;
    background-color:rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 2vw;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 30vw;
} 
.PopupMessage > .Input-div{
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
}
.PopupMessage > .Input-div > label{
    font-size: 20px;
    color: black;
}
.PopupMessage > .Input-div > input{
    padding: 8px;
}
.PopupMessage > .Input-div > input:focus{
    outline-color: rgb(42, 208, 237);
}
.PopupMessage > .Buttons > button{
    border-radius:8%;
    margin-right: 3%;
    padding: 2.5% 4%;   
}
.error{
    color: red;
    font-size: 13px;
}